<section id="cta" class="container" aria-label="cta Section">
  <h2 class="h2 cta_title text-center">Clipboard for iOS and Mac OS</h2>
  <p class="body cta_subtitle text-center">
    Available for free on the App Store. Download for Mac or iOS, sync with
    iCloud and you’re ready to start adding to your clipboard.
  </p>
  <div class="button_wrapper">
    <button class="btn btn-primary">Download for iOS</button>
    <button class="btn btn-secondary">Download for Mac</button>
  </div>
</section>
