@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

/* ----------------------------- */
/* Custom Properties             */
/* ----------------------------- */
:root {
  /* font-family */
  --ff: "Bai Jamjuree", sans-serif;

  /* colors */
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --strong-cyan-hover: hsl(170, 53%, 58%);
  --light-blue-hover: hsl(233, 100%, 77%);
  --footer: hsl(220, 18%, 97%);

  /* font-sizes */
  --h1: 2rem;
  --h2: 1.75rem;
  --h3: 1.5rem;
  --body-lg: 1.25rem;
  --body: 1rem;
}

@media (min-width: 1110px) {
  :root {
    /* font-sizes */
    --h1: 2.75rem;
    --h2: 2.25rem;
    --body: 1.125rem;
  }
}

/* ----------------------------- */
/* Reset                         */
/* ----------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
/* Body */

body {
  font-family: var(--ff);
  font-size: var(--body);
  color: var(--dark-grayish-blue);
  /* min-height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content 1fr; */
}

/* Images */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Forms */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

/* Animation */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------------- */
/* Utility Classes               */
/* ----------------------------- */

/* general */
.d-flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.d-grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

/* * + * === *:not(:first-child) with where higher specificity  */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow-space--small {
  --flow-space: 0.75rem;
}

.container {
  margin-inline: auto;
  max-width: 1110px;
  width: 90%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  background: hsl(var(--light));
  color: hsl(var(--dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-120%);
  transition: transform 500ms ease-in;
  position: absolute;
  z-index: 1000;
}
.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */
.bg-footer {
  background-color: var(--footer);
}
.bg-strong-cyan {
  background-color: var(--strong-cyan);
}
.bg-light-blue {
  background-color: var(--light-blue);
}

.text-dark-grayish-blue {
  color: var(--dark-grayish-blue);
}
.text-grayish-blue {
  color: var(--grayish-blue);
}

/* typography */

.uppercase {
  text-transform: uppercase;
}

.fw-bold {
  font-weight: bold;
}

.h1 {
  font-size: var(--h1);
}

.h2 {
  font-size: var(--h2);
}

.h3 {
  font-size: var(--h3);
}

.body {
  font-size: var(--body);
}

.body-lg {
  font-size: var(--body-lg);
}

.text-center {
  text-align: center;
}

/* ----------------------------- */
/* Hero                         */
/* ----------------------------- */

/* ----------------------------- */
/* Features                         */
/* ----------------------------- */

/* ----------------------------- */
/* Picture                         */
/* ----------------------------- */

/* ----------------------------- */
/* Benefits                         */
/* ----------------------------- */

/* ----------------------------- */
/* Social                         */
/* ----------------------------- */

/* ----------------------------- */
/* CTA                         */
/* ----------------------------- */

/* ----------------------------- */
/* Footer                         */
/* ----------------------------- */
